name: API Compatibility

on:
  pull_request: {}
  push:
    branches:
    - main

jobs:
  apicompat:
    name: Check TFM API Compatibility
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Run API Compatibility Check
        run: ./scripts/apicompat.sh --build
