name: Update Docs

on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  update-docs:
    name: docfx
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.x
            8.x
            9.x

      - run: dotnet build
      - run: dotnet tool update -g docfx
      - run: docfx tools/site_src/docfx.json
      - run: find _site

#      - name: Upload artifact
#        uses: actions/upload-pages-artifact@v3
#        with:
#          path: _site
#
#      - name: Deploy to GitHub Pages
#        id: deployment
#        uses: actions/deploy-pages@v4
