name: Perf

on:
  pull_request: {}
  push:
    branches:
    - main

jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        config:
          - branch: dev
          - branch: main
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
      - name: Install nats
        run: |
          rel=$(curl -s https://api.github.com/repos/nats-io/natscli/releases/latest | jq -r .tag_name | sed s/v//)
          wget https://github.com/nats-io/natscli/releases/download/v$rel/nats-$rel-linux-amd64.zip
          unzip nats-$rel-linux-amd64.zip
          sudo mv nats-$rel-linux-amd64/nats /usr/local/bin
          for i in 1 2 3
          do
            curl -sf https://binaries.nats.dev/nats-io/nats-server/v2@${{ matrix.config.branch }} | PREFIX=. sh && break || sleep 30
          done
          sudo mv nats-server /usr/local/bin

      - name: Check nats
        run: |
          nats --version
          nats-server -v

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x'

      - name: Release Build
        run: dotnet build -c Release tests/NATS.Client.Perf/NATS.Client.Perf.csproj

      - name: Perf Test
        run: ./tests/NATS.Client.Perf/bin/Release/net6.0/NATS.Client.Perf
